<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
  <title>Think - A Free Mind Mapping Web App</title>
  
  <!-- Stylesheets -->
  <link type="text/css" href="stylesheets/think.css" rel="stylesheet" /> 
  
  <!-- Third Party scripts -->
  <script src="js/third_party/getElementsByClassName-1.0.1.js" type="text/javascript"></script>
  <script src="js/third_party/json2.js" type="text/javascript"></script>
  <script src="js/third_party/base64.js" type="text/javascript"></script>
  <script src="js/third_party/canvas2image.js" type="text/javascript"></script> <!-- Depends on base64.js -->
  <!-- JQuery -->
  <script src="js/third_party/jquery-1.4.2.min.js" type="text/javascript"></script>
  <script src="js/third_party/jquery-ui-1.8rc3.custom.min.js" type="text/javascript"></script>
  <link type="text/css" href="stylesheets/third_party/dark-hive/jquery-ui-1.8.custom.css" rel="stylesheet" />
  
  <!-- Custom JQuery css must be loaded after standard JQuery is loaded. -->
  <link rel="stylesheet" type="text/css" href="stylesheets/custom_jquery.css" />
  
  <script src="js/goog/base.js" type="text/javascript"></script>
  <script src="js/ajs/deps.js" type="text/javascript"></script>
  <script type="text/javascript">
    goog.require('ajs.ui.dialog');
  </script>
  <script src="js/ajs/base.js" type="text/javascript"></script>
  <script type="text/javascript">    
    ajs.bodyLoad = function() {
      var closeUrl = '/';
      var title = "Sucessful login";
      var content = '<p>You have logged in successfully.</p><p>Now you should return to <a href="' + closeUrl + '">Think</a></p>';
      var width = 400;
      ajs.ui.dialog.showDialogMessage(title, content, width, function(event) {
        document.location = closeUrl;
      });
    }
  </script>
  
  <!-- Meta Tags -->
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/> 
  <meta name="description" content="A free Mind Mapping Web Application written with HTML5, Django and Google App Engine." />
  <meta name="keywords" content="mind map, Web Application, HTML5, Django, Google App Engine" /> 
</head>
<body onload="ajs.bodyLoad();">
  
  <!-- Google Analytics scripts -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-13219302-2");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
