<h2>Select your OpenID account provider</h2>
<div id="openIdProviders">
    <button class="openIdProviderButton" onclick="return(openiduser.setupOpenIdProviderLogin(openiduser.openIdProviderUrls.myOpenId));"><img src="openiduser/myopenid.png" alt="My OpenID"/></button>
    <button class="openIdProviderButton" onclick="return(openiduser.setupOpenIdProviderLogin(openiduser.openIdProviderUrls.google));"><img src="openiduser/google.png" alt="Google"/></button>
    <button class="openIdProviderButton" onclick="return(openiduser.setupOpenIdProviderLogin(openiduser.openIdProviderUrls.yahoo));"><img src="openiduser/yahoo.png" alt="Yahoo"/></button>
</div>
<div id="openIdUsernameSignIn">
    <form action=""> 
        <span>Username:</span>
        <input type="hidden" id="openIdUsernameProvider" />
        <input type="text" id="openIdUsername"/>
        <button onclick="openiduser.openIdUsernameSignIn(); return false;">Sign In</button>
    </form>
</div>
          
<form id="loginForm" method="post" action="login">
    <h2>Or</h2>
    <p>You can supply a OpenID account provider URL:</p> 
    <table>
        <tr>
            <td align="right"><span>OpenID url:</span><input type="text" name="openid" id="openid_url" /></td>
            <td align="left"><input type="submit" value="Login"/></td>
        </tr>
    </table>
</form>