<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
  <title>{% block title %}Think - A Free Mind Mapping Web App{% endblock %}</title>
  
  <!-- Meta Tags -->
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/> 
  <meta name="description" content="A free Mind Mapping Web Application written with HTML5, Django and Google App Engine." />
  <meta name="keywords" content="mind map, Web Application, HTML5, Django, Google App Engine" /> 
  <meta name="google-site-verification" content="QQc90crMeFp0kzkzVDmikSfgUCBlaj8XYcQIXsyFESg" />
  
  {% block head %}
  
  {% endblock %}

  {% block extrahead %}{% endblock %}
</head>
{% block body %}
<body>
  
  {% block content %}

  {% endblock %}  

</body>
{% endblock %}
</html>
