<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
  <title>{% block title %}Think - A Free Mind Mapping Web App{% endblock %}</title>
  
  <!-- Meta Tags -->
  <meta charset="utf-8"/> 
  <meta name="description" content="A free Mind Mapping Web Application written with HTML5, Django and Google App Engine." />
  <meta name="keywords" content="mind map, Web Application, HTML5, Django, Google App Engine" /> 
  <meta name="google-site-verification" content="QQc90crMeFp0kzkzVDmikSfgUCBlaj8XYcQIXsyFESg" />
  
  {% block head %}
  <!--[if IE]><script type="text/javascript" src="{{ STATIC_URL }}js/third_party/excanvas.js"></script><![endif]-->
  
  <!-- Stylesheets -->
  <link type="text/css" href="{{ STATIC_URL }}stylesheets/think.css" rel="stylesheet" /> 
  
  <!-- Third Party scripts -->
  <script src="{{ STATIC_URL }}js/third_party/getElementsByClassName-1.0.1.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/third_party/json2.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/third_party/base64.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/third_party/canvas2image.js" type="text/javascript"></script> <!-- Depends on js/third_party/base64.js -->
  <script src="{{ STATIC_URL }}js/goog/base.js" type="text/javascript"></script> <!-- Required by js/ajs/base.js -->
  <!-- JQuery -->
  <script src="{{ STATIC_URL }}js/third_party/jquery-1.4.2.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/third_party/jquery-ui-1.8rc3.custom.min.js" type="text/javascript"></script>
  <link type="text/css" href="{{ STATIC_URL }}stylesheets/third_party/dark-hive/jquery-ui-1.8.custom.css" rel="stylesheet" />
  
  <!-- openiduser -->
  <script src="{{ STATIC_URL }}openiduser/openiduser.js" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ STATIC_URL}}openiduser/login.css" /> 

  <!-- Custom JQuery css must be loaded after standard JQuery is loaded. -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}stylesheets/custom_jquery.css" />
  
  <!-- Web App scripts -->
  <script src="{{ STATIC_URL }}js/ajs/deps.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/ajs/require.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/ajs/base.js" type="text/javascript"></script>
    
  <!-- Thought Options -->
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/goog/css/common.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/goog/css/hsvpalette.css" /> 
  <script src="{{ STATIC_URL }}js/goog/colorPickerMinified.js" type="text/javascript"></script> 
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/thought-options.css" /> 
  {% endblock %}

  {% block extrahead %}{% endblock %}
</head>
{% block body %}
<body onload="ajs.think.bodyLoad();">
  
  {% block content %}

  {% endblock %}  
  <!-- Google Analytics scripts -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-13219302-2");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
{% endblock %}
</html>
