  {% extends "think/simple-base.html" %}  
  
  {% block content %}
    <p>Think is a Free Web App created using HTML5, Django, Google App Engine, and jQuery.</p>
                  
    <p>Think has been created by <a href="http://www.sandstormsoftware.co/">Ashley Sands</a>, who is freelance Django/Google App Engine Web App developer for hire.</p>
          
    <p>If you have any feedback, bugs to report, or features to request, do not hesitate to <a href="http://www.sandstormsoftware.co/contact/">contact him</a>.</p>
  {% endblock %}
