  {% extends "base.html" %}
  
  {% block content %}
  <div id="mainMenu" class="hiddable visibleOnLoad menu greyGradient">
    <div id="title" class="greyToBlackGradient">
      <h1>{% block content_title %}Think - a Free Mind Mapping Web App{% endblock %}</h1>
    </div>
    <div id="mainMenuTabs">
	    <ul>
        <li><a href="page/tab-thoughts.html"><span>Thoughts</span></a></li>
        <li><a href="page/tab-login.html"><span>Login</span></a></li>
        <li><a href="page/tab-register.html"><span>Register</span></a></li>
        <li><a href="page/tab-logout.html"><span>Logout</span></a></li>
        <li><a href="page/tab-about.html"><span>About</span></a></li>
	    </ul>
    </div>
  </div>
 
  <!-- Web App -->
  <canvas id="think"> <!-- The canvas is resized by thoughtLoader.js. -->
    <p>Your browser doesn't support canvas.</p>
  </canvas>
    
  {% endblock %}  

