
#openIdProviders {
  border: solid 1px #FFF; 
  padding: 10px;
} 

#openIdUsernameSignIn {
  border: solid 1px #FFF; 
  display: none; 
  padding: 10px;
}

#openid_url {
  margin: 10px;
  width: 320px;
}